<!DOCTYPE html>
<html>
  <head>
    <title>DoctorbaseProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

    <div class="container" style="text-align:center">
      <%= notice || alert %>
    </div>
    <%= yield %>
  </body>
</html>
